.cards img {
    width: 150px;
    height: 150px;
}

.shadow-card {
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    transition: .3s ease-out;
}

.black {
    color: black;
}

.cards div, .title {
    transition: transform .3s ease-out;
    color: black;
    min-width: 150px;
}

.arrow-back:last-of-type {
    transform: rotate(180deg);
}

.arrow-back {
    display: none;
    cursor: pointer;
    height: 3vw;
    width: 3vw;
    transition: opacity 0.2s;
}

img.disabled-arrow {
    cursor: inherit;
    opacity: 0;
}

.horizontal-scroll {
    -ms-overflow-style: none;
    display: block;
    width: 100%;
    overflow-x: scroll;
    height: 265px;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    margin-bottom: 1%;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.cards {
    display: flex;
    gap: 22px;
    padding: 45px;
}

.cards div {
    width: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.title {
    background-color: white;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.title.rounded-title {
    border-radius: 15px;
}

img.rounded-card {
    border-radius: 100%;
}

.clickable {
    background-color: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.68);
    color: #000000;
}

div.title-cards {
    margin-left: 0;
}

.title-cards .title-cards {
    margin-top: 1.5%;
}

.row {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .cards {
        gap: 100px;
    }

    .arrow-back {
        display: block;
    }
    .cards .card:hover {
        transform: scale(1.2);
    }

    .shadow-card:hover {
        -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    }
}
