
<div class="row title">
<h2>Tus canciones</h2>
<div>
    <img width="20" height="20" src="assets/icons/arrow-title.svg">
    </div>
</div>
<div class="row">
    <p class="margen"></p>
    <p class="columnas nombre">Nombre</p>
    <p class="columnas artista">Artista</p>
    <p class="columnas album">Álbum</p>
    <p class="columnas duracion">Duración</p>
    <p class="columnas calificacion">Calificación</p>
</div>
<div class="raya"></div>
<table class="tabla-cancion">
    <tbody>
        <tr *ngFor="let cancion of canciones">
            <td class="reproduccion" *ngIf="cancion.reproduciendo == true; else elseBlock"><svg (click)="playSong(cancion)" width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.914062 0.628571V17.0571L14.7141 8.84286L0.914062 0.628571Z" fill="white"/>
                </svg>                              
                </td>
                <ng-template #elseBlock><td><svg width="14" height="1" viewBox="0 0 14 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="0.5" x2="14" y2="0.5" stroke="white"/>
                    </svg>
                </td>
                    </ng-template>
            <td class="imagen"><img class="imagen-cancion" src="{{cancion.img}}" alt="imagen"></td>
            <td class="nombre">{{cancion.nombre}}</td>
            <td class="artista">{{cancion.artista}}</td>
            <td class="album">{{cancion.album}}</td>
            <td class="duracion">{{cancion.duracion}}</td>
            <td class="calificacion">
                <div class="row">
                <div class="star" *ngIf="cancion.calificacion > 0; else elseBlock2"><img width="20" height="20" src="assets/icons/star-filled.svg">
                    </div>
                    <div class="star" *ngIf="cancion.calificacion > 1; else elseBlock2"><img width="20" height="20" src="assets/icons/star-filled.svg">
                    </div>
                    <div class="star" *ngIf="cancion.calificacion > 2; else elseBlock2"><img width="20" height="20" src="assets/icons/star-filled.svg">
                    </div>
                    <div class="star" *ngIf="cancion.calificacion > 3; else elseBlock2"><img width="20" height="20" src="assets/icons/star-filled.svg">
                    </div>                 
                    <div class="star" *ngIf="cancion.calificacion > 4; else elseBlock2"><img width="20" height="20" src="assets/icons/star-filled.svg">
                    </div>
                    <ng-template #elseBlock2> <div class="star"><img  width="20" height="20" src="assets/icons/star.svg">     
                    </div>                            
                    </ng-template>                 
                </div>
            </td>
        </tr>
    </tbody>
</table>

