section {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.auto {
    width: 100%;
}

#comment {
    height: 70px;
    border-radius: 15px;
    padding: 10px;
}

.user-icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

.end {
    justify-content: flex-end;
}

h2 {
    color: black;
    margin: 0;
}

.stars {
    display: flex;
    gap: 10px;
}

#comment-btn {
    width: 50%;
}

textarea {
    margin: 5px 0 10px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.header {
    justify-content: space-between;
}

@media screen and (max-width: 360px) {
    textarea {
        width: 200px;
        height: 300px;
    }
}