<section class="section-filtrar" [ngClass]="{ 'active':active }">
    <img id="back-arrow" (click)="disable()" src="assets/icons/back-arrow.svg">
    <h2>Filtrar por</h2>
    <ul>
        <li>
            <div class="title" (click)="openFilter($event)">
                <h3>Genero</h3>
                <img class="open-arrow" src="assets/icons/down-arrow.svg">
            </div>
            <div class="content">
                <ul class="content-list">
                    <li>Pop</li>
                    <li>Rock</li>
                    <li>Jazz</li>
                    <li>Reggaeton</li>
                </ul>
            </div>
        </li>
        
        <li>
            <div class="title" (click)="openFilter($event)">
                <h3>Tipo</h3>
                <img class="open-arrow" src="assets/icons/down-arrow.svg">
            </div>
            <div class="content">
                <ul class="content-list">
                    <li>Playlist</li>
                    <li>Artista</li>
                    <li>Podcast</li>
                </ul>
            </div>
        </li>
        
        <li>
            <div class="title" (click)="openFilter($event)">
                <h3>Duracion</h3>
                <img class="open-arrow" src="assets/icons/down-arrow.svg">
            </div>
            <div class="content">
                <ul class="content-list">
                    <li>Corta (de 2 a 3 minutos)</li>
                    <li>Media (de 3 a 5 minutos)</li>
                    <li>Larga (mas de 5 minutos)</li>
                </ul>
            </div>
        </li>
    </ul>
</section>