.input-search {
  border-radius: 11px;
  border: none;
  padding-left:32px;
  font-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 1px;
  background-position-x: 3px;
  background-image: url("../../../assets/icons/search-icon.svg");
  background-size: 25px;
}

.navbar-toggler collapsed {
  height: 58px;
}

.input-search:focus {
  outline: none;
}

::ng-deep .mat-autocomplete-visible {
  border-radius: 7px;
}


@media only screen and (max-width: 992px) {
  .mt-1r {
    margin-top: 1rem !important;
  }
}

