<app-navbar #navbar></app-navbar>
<mat-sidenav-container class="example-container" [autosize]="true">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
               [fixedInViewport]="true" [fixedTopGap]="topGap"
               [fixedBottomGap]="bottomGap">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="pl-5 pb-3">
      <router-outlet class="ml-2"></router-outlet>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer #footer></app-footer>
