<app-navbar #navbar></app-navbar>
<mat-sidenav-container [autosize]="true">
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
               [fixedInViewport]="true" [fixedTopGap]="topGap"
               [fixedBottomGap]="bottomGap">
    <app-sidebar [sidenavToggle]="sidenav"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="hidden-sidebar d-none d-lg-block">
      <img src="assets/icons/down-arrow.svg" class="open-sidebar" (click)="sidenav.toggle()">
    </div>
    <div class="pl-5 pb-3">
      <router-outlet class="ml-2"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer #footer></app-footer>
